
<nav class="navbar navbar-default navbar-fixed-bottom">
     <ul class="nav navbar-nav footer-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/campgrounds">Campgrounds</a></li>
        <% if(!currentUser){ %>
         <% } else { %>
            <li><a href="/campgrounds/new">New Camp</a></li>
         <% } %>
      </ul>
    <!-- Right Nav Area -->
      <ul class="nav navbar-nav navbar-right footer-nav">
        <% if(!currentUser){ %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
         <% } else { %>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="#">Signed in as <strong><%= currentUser.username %></strong></a></li>
         <% } %>
      </ul>
</nav>
	</body>
</html>