<!DOCTYPE html>
<html>
<head>
	<title>Yelp Camp</title>
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body id="page-body">
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> Yelp Camp</a>
    </div>
    <!-- Left Nav Area -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/campgrounds">Campgrounds</a></li>
        <% if(!currentUser){ %>
         <% } else { %>
            <li><a href="/campgrounds/new">New Camp</a></li>
         <% } %>
      </ul>
    <!-- Right Nav Area -->
      <ul class="nav navbar-nav navbar-right">
        <% if(!currentUser){ %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
         <% } else { %>
            <li><a href="/logout">Log Out</a></li>
            <li><a href="#">Signed in as <strong><%= currentUser.username %></strong></a></li>
         <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
