<% include partials/header.ejs %>
	<div class="front-div">
			<h1>Yelp Camp</h1>
			<h3>Discover your perfect campsite.</h3>
			<a href="/campgrounds" class="btn btn-default btn-lg" role="button">Explore</a>
		</div>
	<div class="front-image">
		
	</div>
			
		
	


<% include partials/footer.ejs %>