<% include partials/header.ejs %>

<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">Yelp Camp Home</h1>
		<h3 class="text-center">Discover your perfect campsite.</h3>
	</div>
</div>

<% include partials/footer.ejs %>