<% include partials/header.ejs %>

<h1>SHOW PAGE</h1>

<h2><%= campground.name %></h2>

<img width="400px" src="<%= campground.image %>">
<p><%= campground.description %></p>
<% include partials/footer.ejs %>