<% include ../partials/header.ejs %>
<div class="jumbotron">
	<div class="container text-center">
		<h1>Campgrounds</h1>
		<h3 >Discover your perfect campsite.</h3>
	</div>
</div>
<div class="container">
<div class="row" id="campground-row">
  	<%campgrounds.forEach(function(campground){ %>
  		<div class="col-sm-6 col-md-3">
  			<div  class="thumbnail">
      			<a href="/campgrounds/<%= campground._id %>"><img src="<%= campground.image %>"></a>
      			<div class="caption text-center">
			        <h3><%= campground.name %></h3>
			        <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary" role="button">View</a>
		     	</div>
      		</div>
      		
      	</div>
	<% }); %>
  </div>
</div>

<% include ../partials/footer.ejs %>