<% include ../partials/header %>

<div class="container">
	<h1 class="text-center">Create New Campground</h1>

	<form action="/campgrounds" method="POST" class="campground-form">
	  <div class="form-group">
	    <input type="text" name="campgroundName" placeholder="Campground Name" class="form-control" maxlength="1000">
	  </div>
	  <div class="form-group">
	    <input type="text" name="campgroundImg" placeholder="Image Link" class="form-control" maxlength="1000">
	  </div>
	  <div class="form-group">
	    <input type="text" name="campgroundDescription" placeholder="Description" class="form-control" maxlength="5000">
	  </div>
	  <button type="submit" class="btn btn-block btn-success">Submit</button>
	</form>

</div>

<% include ../partials/footer %>