html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}


.front-image {
	width: 100%;
	height: 100%;
	margin-top: -3em;
	background-image: url('../assets/images/front-image.jpeg');
	background-size: cover;
	position: fixed;
	opacity: 0.7;
}

.front-div{
	text-align: center;
	color: #222;
	position: absolute;
	z-index: 5;
	margin: 10em 0 auto;
	width: 100%;
}

.front-div a {
	margin-top: 2em;
}


.front-div h1{
	font-size: 8em;
}

.front-div h3{
	font-size: 4em;
}

#campground-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5em;
}

div.row{
	margin-bottom: 5em; 
}

form.campground-form {
	margin-top: 3em;
}

.campground-form {
	width: 50%;
	margin: 0 auto;
}

nav.navbar {
	border-radius: 0;
	z-index: 5;
}

@media screen and (max-width: 50em) {
	nav.navbar-fixed-bottom {
		display: none;
	}
}


div.btn-group-vertical {
	display: block;
}

div.thumbnail {
	padding: 0;
}
.campground-info {
	padding: 0 1em;
}

.campground-info #submit-user{
	padding-top: 1em;
}
.campground-info h3{
	margin-top: 0;
}

.comment-div {
	background-color: #F7F7F7;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	padding: 1em;
}

.comment-button {
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 1em;
}

.comment-header {
	width: 100%;
}

#comment-author {
	float: left;
}

#comment-date {
	float: right;
}

#comment-body {
	clear: both;
}

#campground-description {
	clear: both;
}

.thumbnail img{
	min-height: 13em;
}

ul.footer-nav {
	margin: 0 2em;
}

.edit-buttons {
	display: inline-flex;
	margin-bottom: 1em;
}

.edit-buttons button {
	margin-right: 1em;
}

#edit-image{
	width: 60%;
	margin: 0 auto;
}
