#page-body {
	padding-bottom: 10em;
}

#campground-row {
	display: flex;
	flex-wrap: wrap;
}

form.campground-form {
	margin-top: 3em;
}

.campground-form {
	width: 50%;
	margin: 0 auto;
}

nav.navbar {
	border-radius: 0;
}

div.btn-group-vertical {
	display: block;
}

div.thumbnail {
	padding: 0;
}
.campground-info {
	padding: 0 1em;
}

.campground-info #submit-user{
	padding-top: 1em;
}
.campground-info h3{
	margin-top: 0;
}

.comment-div {
	background-color: #F7F7F7;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	padding: 1em;
}

.comment-button {
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 1em;
}

.comment-header {
	width: 100%;
}

#comment-author {
	float: left;
}

#comment-date {
	float: right;
}

#comment-body {
	clear: both;
}

#campground-description {
	clear: both;
}

.thumbnail img{
	min-height: 13em;
}

ul.footer-nav {
	margin: 0 2em;
}